## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/
./client_secret_238199076534-2fsv4bautiodg6msm2i351re460jm30p.apps.googleusercontent.com.json